<br/>
  
<div class="mb-3">
    <label for="brandFilter" class="form-label">Marka Ara</label>
    <input type="text" [(ngModel)]="brandFilter" class="form-control" id="brandFilter"
     placeholder="Marka ara">
  </div>
  <div *ngIf="brandFilter" class="alert alert-primary">
    {{brandFilter}} aradınız
  </div>
<ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-primary"><b>Marka Listesi</b></li>
    <li (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands |brandFilter:brandFilter" 
    [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
</ul>

<br/>

