<br/>
<h4> Marka Ekleme Silme Güncelleme İşlemleri</h4>
<hr/>
<br/>

<table class="table table-bordered table-condensed table-hover " style="background-color: rgb(255, 255, 255);">
    <thead class="thead-warning">
        <tr>
            <th>Marka Numarası</th>
            <th>Marka</th>
            <th> Ekle Güncelle Sil  </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let brand of brands">
            <td>{{brand.brandId}}</td>
            <td>{{brand.brandName}}</td>
            <td>
                <button style="margin-left: 5px;" class="btn btn-outline-success" routerLink="/brand/add">Ekle</button>
                <button class="btn btn-outline-primary" routerLink="/brand/update/{{brand.brandId}}">Güncelle</button>
                <button class="btn btn-outline-danger">Sil</button>
            </td>
        </tr>
    </tbody>
</table>
