<br/>
<h4> Araç Ekleme Silme Güncelleme İşlemleri</h4>
<hr/>
<br/>

<table class="table table-bordered table-condensed table-hover " style="background-color: rgb(255, 255, 255);">
    <thead class="thead-warning">
        <tr>

            <th> Marka </th>
            <th> Model </th>
            <th> Renk  </th>
            <th> Model Yılı</th>
            <th> Günlük Fiyat </th>
            <th> Açıklama  </th>
            <th> Ekle Güncelle Sil  </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let car of cars">
           <td>{{car.brandName}}</td>
           <td>{{car.carName}}</td>
           <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
            <td>
                <button style="margin-left: 5px;" class="btn btn-outline-success" routerLink="/car/add">Ekle</button>
                <button class="btn btn-outline-primary" routerLink="/car/update/{{car.id}}">Güncelle</button>
                <button class="btn btn-outline-danger">Sil</button>
            </td>
        </tr>
    </tbody>
</table>
