
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<app-filter></app-filter>

<br/>
<div class="mb-3">

  <label for="carFilter" class="form-label" >Araç Ara</label>

  <input type="text" [(ngModel)]="carFilter" class="form-control" id="carFilter" 
  placeholder="Arama İfadesi Giriniz">
</div>
<div *ngIf="carFilter" class="alert alert-primary">
  {{carFilter}} aradınız
</div>
<div class="row" *ngIf="dataLoaded==true">
  <div *ngFor="let car of cars |carFilter:carFilter" class="card" style="width:260px; margin:5px;">
    <img src="{{imageBasePath}}{{car.imagePath}}" class="card-img-top" alt="{{car.description}} Image" width="auto" height="auto">
    <div  class="card-body">
      <h5 class="card-title">{{car.carName}} - {{car.description}}</h5>
    </div >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Marka: {{car.brandName}}</li>
      <li class="list-group-item">Renk: {{car.colorName}}</li>
      <li class="list-group-item">Model Yılı: {{car.modelYear}}</li>
      <li class="list-group-item">Fiyat: {{car.dailyPrice}} Türk Lirası</li>
    </ul>
    <div class="card-body">
      <section style="float:left">
        <button routerLink="/car/details/{{car.id}}" type="button" class="btn btn-primary">Detaylar</button>
      </section>
      <section style="float: right">
        <app-rental [car]="car"></app-rental>
      </section>
    </div>
  </div>
</div>


<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Araba Adı</th>
            <th>Marka Adı</th>
            <th>Renk Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyatı</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
    </tr>
</table> -->
